@import "./base.css";


main{
    font-size: 128px;
    font-weight: bold;
    padding: 150px;
}
.date{
    font-size: 40px;
    font-weight: 400;
}
@media(max-width: 1220px){
   main{
    font-size: 70px;
   }
   .date{
    font-size: 30px;
}

}
@media(max-width: 590px){
    main{
     font-size: 40px;
     padding: 55px;
    }
    .sub-heading{
        font-size: 24px;
    }
    .date{
        font-size: 20px;
    }
    
 }
