@import "./base.css";

.main{
    padding-top: 50px;
}
.close g path{
    fill: var(--color-primary);
  }

body{
    background-color: var(--color-white);
    color: var(--color-primary);
}
.speaker-wrapper{
    max-width: 460px;

}
.speaker-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, 1fr); 
    grid-column-gap: 200px;
    grid-row-gap: 12px;
}
.shopIcon {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(90deg);}
.mainTitle{
    font-size: 98px;
}
.speaker-image{
    width: 310px;
    height: 310px;
    object-fit: cover;
    margin-bottom: 36px;
    
}
.speaker-image-top{
    object-position: top;

}
.speaker-company{
    color: var(--color-black);
    margin-bottom: 32px;
}
.speaker-bio{
    color: var(--color-black);
    font-size: 20px;

}
h2,p{
    margin: 0;
}
.speaker-name{
    font-size: 32px;
    margin-bottom: 20px;
}

@media (width < 1000px){
    .speaker-content{
        grid-template-columns: 1fr;
    }

}
@media (max-width: 840px) {
    nav{
        background-color: var(--color-white);
    
    }
    .mainTitle{
        font-size: 80px;
    }
}
@media (max-width: 590px) {
    .mainTitle{
        font-size: 50px;
    }
}
@media(max-width: 450px){
   main{
    padding: 50px;
   }
   .speaker-image{
    width: 250px;
    height: 250px;
   }
   .speaker-bio{
    font-size: 15px ;
   }
 
 }